<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI-Driven Medical Platform</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body class="background">
    <!-- Moving text -->
    <div class="moving-text">
      Welcome to AI-Driven Doctor- Your Health is Our Priority</div>

    <h1>AI-Driven Medical Platform</h1>
    <div class="button-container">
      <button onclick="window.location.href='diagnosis.html'">
        Disease Diagnosis
      </button>
      <button onclick="window.location.href='medicine.html'">
        Medicine Recommendations
      </button>
      <button onclick="window.location.href='consultation.html'">
        Virtual Consultations
      </button>
    </div>
  </body>
</html>
