<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI-Driven Medical Platform</title>
    <link rel="stylesheet" href="../static/css/welcome.css"/>
  </head>
  <body>
    <!-- Welcome Page -->
    <section id="welcome">
      <h1>Welcome to AI-Driven Doctor</h1>
      <p>
        Your personal AI-powered medical assistant. Get quick disease diagnosis,
        medicine recommendations, and virtual consultations.
      </p>
      <button id="nextButton" onclick="redirectToIndex()">Get Started</button>
    </section>

    <!-- JavaScript for Redirection -->
    <script>
      function redirectToIndex() {
        // Redirect to index.html
        window.location.href = "index.html";
      }
    </script>
  </body>
</html>
